PORT=3001
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/cobranca_saas

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=15d

# header para multitenant (ex: X-Company-Id)
TENANT_HEADER=x-company-id

# Asaas: pix depende de conta aprovada
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3
ASAAS_ALLOW_PIX=false
